.services-contact {
  width: 100%;
  background-color: var(--bg-pop);
  padding: 6vh 15%;
  color: var(--font-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5vh;
  .interested {
    margin-bottom: 2vh;
    font-size: 1.5rem;
  }
  .contact-btn {
    text-decoration: none;
    color: white;
    padding: 1em 2em;
    border-radius: 10px;
    display: block;
    font-weight: 600;
    background-color: var(--hover-color);
    margin-top: 5vh;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    border: 2px solid var(--hover-color);
    transition: all 0.3s ease;
    &:hover {
      color: white;
      border: 2px solid white;
      box-shadow: 0 0 0 black;
      background-color: rgba(0, 0, 0, 0);
    }
  }
}
