.hero-text {
  height: 150vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  .text {
    .landing-logo {
      height: 200px;
      aspect-ratio: 1;
      img {
        object-fit: contain;
      }
    }
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    h1 {
      color: var(--hover-color);
      font-size: 5.5rem;
      font-weight: 800;
      width: fit-content;
      word-spacing: 0.15em;

      span {
        font-family: var(--posterama);
        font-weight: 800;
        background-position: center;
        color: #041a8c;
        margin-right: 0.4em;
        text-transform: uppercase;
      }
    }
    h2 {
      text-align: center;
      margin-top: 2vh;
      font-size: 1.4rem;
      width: fit-content;
      color: var(--font-color);
      span {
        color: var(--hover-color);
        margin: 0 1em;
      }
    }
    .cta {
      width: 80%;
      padding: 1em 0;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      color: var(--font-color);
      margin-top: 8vh;
      a {
        text-decoration: none;
        color: white;
        padding: 1em 2em;
        border-radius: 10px;
        display: block;
        font-weight: 600;
        background-color: var(--hover-color);
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
        border: 2px solid var(--hover-color);
        transition: all 0.3s ease;
        &:hover {
          color: var(--hover-color);
          border: 2px solid var(--hover-color);
          box-shadow: 0 0 0 black;
          background-color: rgba(0, 0, 0, 0);
        }
      }
      p {
        width: 60%;
      }
    }
  }
  .hero-img-container {
    width: 850px;
    aspect-ratio: 16 / 9;
    border-radius: 10px;
    border: 2px solid var(--hover-color);
    img {
      border-radius: 10px;
      object-fit: cover;
    }
    &::before {
      content: "";
      height: 100%;
      width: 98%;
      position: absolute;
      background-color: rgb(85, 85, 85);
      z-index: -1;
      top: -20px;
      left: 1%;
      border-radius: 10px;
      border: 1px solid var(--hover-color);
      opacity: 0.8;
    }
    &::after {
      content: "";
      height: 100%;
      width: 96%;
      position: absolute;
      background-color: var(--off-gray);
      z-index: -3;
      top: -40px;
      left: 2%;
      border-radius: 10px;
      border: 1px solid var(--hover-color);
      opacity: 0.6;
    }
  }
  @media only screen and (max-width: 900px) {
    height: 100vh;
    .text {
      h1 {
        font-size: 4rem;
        text-align: center;
      }
      h2 {
        font-size: 1.2rem;
      }
    }
    .hero-img-container {
      width: 90%;
      aspect-ratio: 16 / 9;
    }
    .cta {
      p {
        margin-bottom: 5vh;
      }
    }
  }
  @media only screen and (max-width: 600px) {
    .text {
      h2 {
        font-size: 3.8vw;
      }
      .cta {
        flex-direction: column;
        width: 90%;
        a {
          margin-bottom: 2vh;
        }
        p {
          width: 100%;
          text-align: center;
        }
      }
    }
  }
  @media only screen and (max-width: 350px) {
    .text {
      h1 {
        font-size: 18vw;
      }
    }
  }
}
