.vision {
  height: 35vh;
  color: var(--font-white);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-pop);
  h3 {
    width: 70%;
    margin-bottom: 2vh;
    font-size: 2rem;
  }
  p {
    width: 70%;
    font-size: 1.2rem;
  }
  a {
    text-decoration: none;
    color: var(--bg-pop);
    padding: 1em 2em;
    border-radius: 10px;
    display: block;
    font-weight: 600;
    background-color: var(--hover-color);
    margin-top: 5vh;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    border: 2px solid var(--hover-color);
    transition: all 0.3s ease;
    &:hover {
      color: white;
      border: 2px solid white;
      box-shadow: 0 0 0 black;
      background-color: rgba(0, 0, 0, 0);
    }
  }
  &::before {
    content: "";
    height: 60%;
    width: 90%;
    background-color: var(--glow-color);
    position: absolute;
    bottom: -80%;
    left: 5%;
    filter: blur(150px);
    border-radius: 50%;
    z-index: -1;
  }
}
