.founder {
  --founder-desc-length: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8vh 15%;
  margin-bottom: 10vh;
  overflow: hidden;
  background: var(--bg-pop);
  color: white;
  z-index: 1;
  .profile {
    width: calc(90% - (var(--founder-desc-length)));
    display: flex;
    flex-direction: column;
    align-items: center;
    .img-container {
      width: 100%;
      aspect-ratio: 1;
      border-radius: 25px;
      img {
        border-radius: 25px;
      }
    }
    .founder-name {
      text-align: center;
      font-size: 1.8rem;
      font-weight: 700;
      margin-top: 2vh;
      color: var(--hover-color);
    }
  }
  .founder-desc {
    width: var(--founder-desc-length);
    .founder-heading {
      margin-bottom: 2vh;
    }
  }
  @media only screen and (max-width: 900px) {
    flex-direction: column;
    padding: 0;
    .profile {
      width: 100%;
      padding: 2vh 0;
      order: 1;

      .img-container {
        width: 70%;
      }
    }
    .founder-desc {
      width: 90%;
      margin: 3vh 0;
      .founder-heading {
        text-align: center;
      }
    }
  }
  @media only screen and (max-width: 470px) {
    .profile {
      .founder-name {
        font-size: 6vw;
      }
    }
  }
}
