@font-face {
  font-family: "Posterama";
  src: url("/assets/fonts/posterama.ttf") format("truetype");
}

:root {
  --bg-col: #f5f5f5;
  --hover-color: #ff4800;
  --off-gray: rgba(160, 160, 160, 0.25);
  --glow-color: #c1e1ffb6;
  --off-blue: #4f6cd7;
  --placeholder-color: #041b8c;
  --bg-pop: #041a8c;

  --font-color: rgb(0, 0, 0);
  --font-white: white;

  --header-height: 8vh;
  --footer-height: 34vh;

  --inter: "Inter", sans-serif;
  --posterama: "Posterama", sans-serif;
}
